body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #42A5F5;
    color: #fff;
    text-align: left;
    padding: 10px;
    position: fixed;
    width: 96%;
    z-index: 1000;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
  }
  
  header a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header span {
    font-weight: bold;
    font-size: 23px;
  }
  
  header img {
    margin-right: 20px;
  }
  
  #chart-container {
    width: 92%;
    margin: auto;
    position: relative;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
  }
  
  #time-range-buttons {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  #time-range-buttons button {
    margin: 5px;
    border-radius: 0px;
    border: none; /* Menghilangkan border atas, kiri, dan kanan */
    border-bottom: 2px solid transparent; /* Border bawah default transparan */
    background-color: #ffffff;
    color: #000000;
    padding: 6px 8px;
    cursor: pointer;
    width: 150px;
    transition: all 0.3s ease; /* Transisi halus */
  }
  
  #time-range-buttons button.active, 
  #time-range-buttons button:focus {
    border-bottom-color: #abb0bd8a; /* Warna biru di bagian border bawah saat aktif atau fokus */
    color: #000000; /* Warna teks tetap hitam */
    background-color: #ffffff; /* Background tetap putih */
    
  }
  
  #time-range-buttons button:hover:not(.active) {
    border-bottom-color: #0051ff; /* Border bawah biru saat hover jika tombol tidak aktif */
  }
  
  
  #myChart {
    flex: 1;
  }
  
  #chart-description {
    text-align: center;
    margin-top: 20px;
    color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  #chart-description h3 {
    text-align: left;
  }
  
  #chart-description p {
    text-align: left;
    margin: 5px 0;
  }
  
  #orderBookContainer {
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 10px;
  }
  
  #orderBook {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Arial', sans-serif; /* Mengubah gaya tulisan */
    font-size: 14px; /* Membuat tulisan sedikit lebih kecil */
  }
  
  #orderBook th, #orderBook td {
    border: 1px solid #ddd;
    padding: 6px; /* Sesuaikan padding jika diperlukan */
  }
  
  #orderBook th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  #marketOpenIndicator {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    animation: blinker 1s linear infinite;
    margin-right: 5px;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  #copyright {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    #time-range-buttons button {
      width: auto;
      margin: 5px;
    }
  }
  
  #marketCountdown {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  #help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #00000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #help-button:hover {
    background-color: #0b7dda00;
  }
  
  .bold-text {
    font-weight: bold;
  }
  .red-text {
    color: red;
  }
  .green-text {
    color: green;
  }
  
  .silver-text {
    color: silver;
  }
  
  .yellow-text {
    color: rgb(255, 230, 0);
  }

  #orderBookContainer {
    max-width: 100%;
    margin: 20px auto;
    overflow-x: auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #orderBook {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  #orderBook thead {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
  }
  
  #orderBook th,
  #orderBook td {
    padding: 12px 15px;
    text-align: center;
  }
  
  #orderBook tbody tr {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s ease;
  }
  
  #orderBook tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #orderBook tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  #orderBook th {
    position: sticky;
    top: 0;
  }
  
  #orderBook tbody td {
    color: #333;
  }
  
  #orderBookContainer {
    margin-top: 30px;
  }
  
